<form style="height:100%; overflow:hidden;">
    <div class="directory flexcol tagit search-app">
        <header class="directory-header flexrow">
            <div class="header-search flexrow" style="flex-basis: 100%;">
                <i class="fas fa-search"></i>
                <input type="text" list="tagcache{{appId}}" id="taginput{{appId}}" name="taginput{{appId}}" placeholder="Search Tag" autocomplete="off" />
                <button class="tagit search refresh" type="button"><i class="fas fa-redo center"></i></button>
            </div>
            <datalist id="tagcache{{appId}}">
            </datalist>
            <div class="tagit entity-filter">
                <label for="journalentries">
                    <input type="checkbox" id="journalentries" name="journalentries" checked>Journals
                </label>
                <label for="actors">
                    <input type="checkbox" id="actors" name="actors" checked>Actors
                </label>
                <label for="items">
                    <input type="checkbox" id="items" name="items" checked>Items
                </label>
                <label for="tokens">
                    <input type="checkbox" id="tokens" name="tokens" checked>Tokens
                </label>
                <label for="packs">
                    <input type="checkbox" id="packs" name="packs" checked>Compendiums
                </label>
            </div>
            <div class="tagit collection" style="flex-basis:100%"></div>
        </header>
        <ol class="tagit search directory-list">
        </ol>
    </div>
</form>
